<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.0.xsd">

<!--
	This is a dummy application context. Apparently, the Spring ContextLoaderListener
	gets confused if this file does not exist.
	
	The real application contexts are here:
	src/applicationContext*.xml
	WebContent/WEB-INF/struts/action-servlet.xml
-->

</beans>
